<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="homeBackground">
    <strong><h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
        <h4>Check out all of the <a href="/trainers">Trainers</a> here!</h4></strong>
  </body>
</html>
