<!DOCTYPE html>
<html>
  <head>
    <title>Edit Your Pokemon Trainer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/trainers">Full Trainer List</a></h3>
      <h1>Edit Trainer</h1>
      <form action="/trainers/update/<%= trainer._id%>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" value="<%= trainer.name %>" /></td>
            </tr>
            <tr>
              <td>Pokemon</td>
              <td><input type="text" name="pokemon" value="<%= trainer.pokemon %>" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Update</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
